/* styles.css */

.card {
    width: 500px; /* Adjust width as needed */
  }
  
  .dialog-content {
    padding: 20px;
    border-radius: 12px;
    background-image: radial-gradient(circle at left top, var(--primary-400), var(--primary-700));
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-container {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: var(--primary-color); /* Define your primary color */
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #ccc; /* Define your secondary color */
    color: #000;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  .ui-dropdown .ui-dropdown-panel .ui-dropdown-items-wrapper {
    min-width: 200px; /* Adjust the width as needed */
  }
  