/* styles.css */

/* Button Hover Effect */
.body{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.888) !important;
}
.btn-hover {
    transition: transform 0.3s ease;
  }
  
  .btn-hover:hover {
    transform: scale(1.1);
  }
  .btn-lg{
    background-color: #52fcdab0 !important;
    
  }
  .bg-light{
    background-color: #00ffccb0 ;
  }
  /* Text Animation */
  @keyframes moveInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .header-text , .text-center{
    /* font-size: 3rem; */
    color: #fff;
  }
  nav{
    border-bottom: #00ffcc 5px solid;
    border-top: #00ffcc 5px solid;
  }
  .highlight {
    color: #00ffcc;
    font-size:60px;
  }
  
  /* Navbar Animation */
  @keyframes slideInFromTop {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .slideInFromTop {
    animation: slideInFromTop 0.5s ease-out;
  }
  #bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ecf4f356; /* צבע רקע */
    color: #fff; /* צבע טקסט */
    padding: 10px;
    text-align: center;
  }
  .btn-lg:hover {
    transform: scale(1.3); /* הגדלת הכפתור ב-10% */
    transition: transform 0.3s ease; /* אנימציה של 0.3 שניות עם החלקה מהירה */
  }
  
  .btn-lg {
    transition: transform 0.3s ease; /* חשוב לכלול גם בכאן את האנימציה */
  }
  .btn-lg {
    position: relative;
    overflow: hidden;
  }
  
  .btn-lg::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: all 0.5s ease;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  
  .btn-lg:hover::before {
    width: 0;
    height: 0;
  }
    #link{
        color: #00ffcc;
    }