<h2>Employee Details Update</h2>
<div class="container">
  <div class="employee-form">
    <form [formGroup]="employeeForm" class="mt-5">

      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName" class="form-control">
        @if ( f['firstName'].errors) {
        <div class="invalid-feedback">
          @if (f['firstName'].errors['required']) {
          <div>First name is required!</div>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName" class="form-control">
        @if ( f['lastName'].errors) {
        <div class="invalid-feedback">
          @if (f['lastName'].errors['required']) {
          <div>Last name is required!</div>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="tz">ID Number:</label>
        <input type="text" id="tz" formControlName="tz" class="form-control" [value]="employee.tz">
        @if ( f['tz'].errors) {
        <div class="invalid-feedback">
          @if (f['tz'].errors['required']) {
          <div>ID number is required!</div>
          }
          @if (f['tz'].errors['minLength']) {
          <div>ID number must be 9 digits!</div>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="startWork">Start Date of Employment:</label>
        <input type="date" id="startWork" formControlName="startWork" class="form-control">
        @if ( f['startWork'].errors) {
        <div class="invalid-feedback">
        </div>
        }
      </div>
      <div class="form-group">
        <label for="birthDate">Birth Date:</label>
        <input type="date" id="birthDate" formControlName="birthDate" class="form-control">
        @if ( f['birthDate'].errors) {
        <div class="invalid-feedback">
        </div>
        }
        <div class="form-group">
          <label for="gender">Gender:</label>
          <select id="gender" formControlName="gender" class="form-control">
              <option value="male">Male</option>
              <option value="female">Female</option>
          </select>
          @if ( f['gender'].errors) {
            <div class="invalid-feedback">
            </div>
            }
        </div>
        
      </div>
      <div class="form-group">
        <label for="active">Active Employee:</label>
        <mat-slide-toggle formControlName="active" [checked]="employee.active">Active</mat-slide-toggle>
        @if ( f['active'].errors) {
          <div class="invalid-feedback">
            <div>Please select active status.</div>
          </div>
        }
      </div>
    </form>
    @for(empRole of employeeForm.controls['employeeRoles'].value; let i=$index ;track empRole.id) {
    <div class="card">
      <app-role [employeeRole]="empRole"></app-role>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button mat-fab class="delete-btn btn2" (click)="deleteEmpRole(i)"><mat-icon>delete</mat-icon></button>
          <button mat-fab class="edit-btn btn2" (click)="editEmpRole(empRole, i)"><mat-icon>edit</mat-icon></button>
        </div>
      </div>
    </div>
    }
      <button mat-raised-button (click)="addEmpRole()">Add Role</button>
      <button type="button" (click)="onSubmit()" class="btn btn-primary" [disabled]="employeeForm.invalid">Save Changes</button>
      <button type="button" (click)="cancelEdit()" class="btn btn-primary">Cancel</button>
  </div>
</div>
