/* styles.css */

/* Global Styles */
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-form {
  min-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.invalid-feedback {
  color: red;
  display: block;
}

/* Delete Button */
.btn2 button.delete-btn {
  background-color: #ff4444; /* Red */
  color: white;
}

/* Edit Button */
.btn2 button.edit-btn {
  background-color: #3366ff; /* Blue */
  color: white;
}

.btn2 button {
  width: 40px;
  height: 40px;
  margin: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn2:hover {
  transform: scale(1.1);
}

.btn2:active {
  transform: scale(0.9);
}

/* Delete Button */
.delete-btn {
  background-color: #ff4444; /* Red */
  color: white;
  border-radius: 50%;
}

/* Edit Button */
.edit-btn {
  background-color: #3366ff; /* Blue */
  color: white;
  border-radius: 50%;
}
.card{
  margin: 20px;

}